<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL55Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/spring</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>


        <property name="connection.pool.size">1</property>

        <!-- SQL Dialect -->

        <!-- Disable the second-level cache -->

        <property name="cache.provider_class">org.hibernate.cache.NoCacheRegionFactoryAvailableException</property>

        <!-- Echo all executed SQL to stdout -->

        <property name="hibernate.show_sql">true</property>

        <!-- Drop the existing tables and create new one -->

        <property name="hbm2ddl.auto">create</property>

        <!-- Mention here all the model classes along with their package name -->

        <!--<mapping class="org.hibernate.tutorial.hbm.Event"/>-->
        <mapping class="api.Room"/>
        <mapping class="api.User"/>
        <mapping class="api.Student"/>
        <mapping class="api.Admin"/>
        <mapping class="api.Faculty"/>
        <mapping class="api.Course"/>
        <mapping class="api.Event"/>
        <mapping class="api.CourseEvent"/>

    </session-factory>
</hibernate-configuration>